:root{
    --main-color: #000000;
    --box-color: #E1E1E1;
    --box-border-radius: 10px;
    --ff-roboto: 'Roboto', sans-serif;
    --ff-montserrat: 'Montserrat', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;
    /* font size */
    --fz1: 15px;
    --fz2: 18px;
    --fz3: 20px;
    --fz4: 32px;
    --fz5: 48px;
    
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    vertical-align: baseline;
}
body{
    max-width: 1920px;
}

.container{
    width: 1194px;
    margin: 0 auto;
}

header{
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    background-color: #FFFFFF;
    z-index: 999;
    box-shadow: 0 0 15px rgb(0 0 0 / 30%);
}
/* css for header .main-nav */
.main-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.main-nav__logo img{
   vertical-align:text-bottom;
}

.main-nav__list{
    display: flex;
    gap: 40px;
}

.main-nav__icon{
    display: none;
}

.main-nav__link{
    color: var(--main-color);
    font: var(--fz1) var(--ff-montserrat) ;
    font-weight: 400;
}

.main-nav__cart{
    padding: 3px 8px;
    margin-left: 14px;
    border-radius: 12px;
    color: #FFFFFF;
    background-color: #333333;
}

.main-nav__link:hover{
    color: rgb(223, 41, 41);
    transform: scale(1.2);
}

/* carousel */
.carousel{
    margin-top: 80px;
    background-color: var(--box-color);
}

.swiper{
    height: 800px;
}
.swiper-slide{
    display: flex;
    position: absolute;
    margin-top: 316px;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    left: 8%;
    text-align: left;
    gap: 16px;
}

.swiper-slide__title{
    font: var(--fz5) var(--ff-montserrat);
    font-weight: 700;
    line-height: 59px;
    color: #000000;
}

.swiper-slide__text{
    width: 487px;
    height: auto;
    font: var(--fz1) var(--ff-roboto);
    font-weight: 400;
    line-height: 130%;
    word-wrap: break-word;
    color: #404040;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #1E1E1E;
}

/* feature-products */
.feature-products{
    width: 100%;
    margin-top: 86px;
}
.feature-products__title{
    font: var(--fz4) var(--ff-montserrat);
    font-weight: 700;
    line-height: 39px;
    text-align: center;
}

.feature-products .feature-products__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 274px 274px;
    gap: 32px;
    margin: 32px 0;
}

.feature-products__item:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/3;
}

.feature-products__item:nth-child(2){
    grid-column: 3/4;
    grid-row: 1/2;
}

.feature-products__item:nth-child(3){
    grid-column: 4/5;
    grid-row: 1/2;
}

.feature-products__item:nth-child(4){
    grid-column: 3/5;
    grid-row: 2/3;
}

.feature-products__list .feature-products__item{
    background-color: var(--box-color);
    border-radius: var(--box-border-radius);
}

/* our-products */
.our-products{
    width: 100%;
    margin-top: 150px;
}

.our-products__title{
    font: var(--fz4) var(--ff-montserrat);
    font-weight: 700;
    line-height: 39px;
    color: var(--main-color);
    text-align: center;
}

.our-products__categories{
    margin: 32px auto;
    border-radius: var(--box-border-radius);
    background-color: var(--box-color);
}

.our-products__navtabs{
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.our-products__navtabs .our-products__tab{
    padding: 0px 64px;
}

.our-products__tab{  
    position: relative;
}

.our-products__tab .active::after, .our-products__tab a:hover::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    transition: all 0.3s ease;
    margin-top: 17px;
    background-color: black;
}

.our-products__tab a:hover{
    color: #000000;
    transform: scale(3.4);
}
.our-products__tab .active b{  
    color: #000000;
}

.our-products__tab a{
    position: relative;
    color: #656565;
    font: var(--fz2) var(--ff-montserrat);
    font-weight: 400;
    line-height: 22px;
}

.our-products__tab--icon{
    margin-left: 8px;
}

.our-products__tab--icon:hover{
    opacity: 0.5;
    cursor: pointer;
}

.our-products__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 311px 311px;
    grid-gap: 32px 33px;
}

.our-products__img{
    width: 100%;
    height: 247px;
    border-radius: var(--box-border-radius);
    background-color: var(--box-color);
}

.our-products__name{
    margin: 15px auto 3px auto;
}
.our-products__name .our-products__link{
    color: #404040;
    font: var(--fz3) var(--ff-montserrat);
    font-weight: 700;
    line-height: 130%;
}

.our-products__price{
    font: var(--fz1) var(--ff-montserrat);
    font-weight: 400;
    line-height: 18px;
    color: #404040;
}

/* about us */
.about-us{
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    margin-top: 75px;
    background-color: var(--box-color);
}

.about-us .about-us__title{
    font: var(--fz4) var(--ff-montserrat);
    font-weight: 700;
    line-height: 39px;
    color: var(--main-color);
}

.about-us .about-us__content{
    width: 581px;
    height: auto;
    font: var(--fz1) var(--ff-roboto);
    font-weight: 400;
    line-height: 18px;
    color: #404040;
    text-align: center;
    word-wrap: break-word;
}

.about-us .about-us__btn{
    width: 172px;
    height: 50px;
    padding: 16px;
    border-radius: var(--box-border-radius);
    font: var(--fz1) var(--ff-roboto);
    font-weight: 400;
    line-height: 18px;
    color: #F2F2F2;
    background-color: #333333;

}

/* footer */
footer{
    /* height: 530px; */
    background-color: #404040;
}

.footer-signup{
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;

}

.footer-signup .footer-signup__title{
    color: #FFFFFF;
    font: 16px var(--ff-poppins);
    font-weight: 700;
    line-height: 24px;
}

.footer-signup__form{
    width: 616px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 40px;
    background-color: #FFFFFF;
}

.footer-signup__form input, .footer-signup__form button{
    outline: none;
    border: none;
    background: none;
}

.footer-signup__form input{
    padding: 12px 0 12px 40px;
    color: #9A9A9A;
    opacity: 0.6;
}

.footer-signup__form button{
    padding: 12px 40px;
    color: var(--main-color);
    font: var(--fz1) var(--ff-poppins);
    border-radius: 40px;
    font-weight: 600;
    line-height: 150%;
} 

.footer-signup__form button:hover{
    background-color: #e7e7e7;
}

footer .footer-infor{
    border-top: 1px solid #606060;
    border-bottom: 1px solid #606060;
}

footer .footer-infor__wraper{
    max-width: 938px;
    height: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 63px auto;
}

.footer-infor h1{
    color: #FFFFFF;
    font: var(--fz4) var(--ff-montserrat);
    font-weight: 700;
    line-height: 39px;
}

.footer-infor h4{
    padding-bottom: 16px;
    color: #9D9D9D;
    font: var(--fz2) var(--ff-montserrat);
}

.site__list a, .terms__list a{
    color: #FFFFFF;
    font: var(--fz1) var(--ff-montserrat);
}

.footer-infor li:nth-child(1){
    padding: 16px 0;
} 

.footer-infor__circle{
    display: flex;
    gap: 16px;
}

.footer-infor__circle .circle-item{
    width: 32px;
    height: 32px;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
}

.footer-copyright p{
    padding: 32px 0 33px 0;
    color: #F2F2F2;
    font: 13px var(--ff-roboto);
    font-weight: 400;
    line-height: 15px;
    text-align: center;
}




